DJANGO_DEBUG=False
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,.vercel.app
DJANGO_CSRF_TRUSTED_ORIGINS=https://*.vercel.app
DJANGO_SQLITE_PATH=db.sqlite3
DJANGO_MEDIA_ROOT=vercel_media
DJANGO_SERVE_MEDIA=True
DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SECURE_HSTS_SECONDS=31536000
